#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
behaviors {
hml: homewrow_mods_left {
compatible = "zmk,behavior-hold-tap";
label = "HOMEROW_MODS_LEFT_HAND";
bindings = <&kp &kp>; // assign per layer below
#binding-cells = <2>;
tapping-term-ms = <200>;
hold-trigger-key-positions = <6 8 7 19 18 30 31 32 20 9 21 33 34 22 10 11 23 35 41 40 39>;
};

```
    hmr: homewrow_mods_right {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS_RIGHT_HAND";
        bindings = <&kp &kp>;
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
    };
};

macros {
    ppt_shapes: ppt_shapes {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings = <&kp RA(H) &kp RA(S) &kp RA(H)>;
        label = "PPT_SHAPES";
    };
};

keymap {
    compatible = "zmk,keymap";

    /****************************************
     * 1️⃣ BASE LAYER — Typing Only
     ****************************************/

    base {
        bindings = <
```

&kp ESCAPE  &kp Q         &kp W              &kp E            &kp R            &kp T    &kp Y  &kp U             &kp I             &kp O               &kp P            &kp TAB
&mo 4       &hml LCTRL A  &hml LEFT_SHIFT S  &hml LEFT_ALT D  &hml LEFT_GUI F  &kp G    &kp H  &hml RIGHT_GUI J  &hml RIGHT_ALT K  &hml RIGHT_SHIFT L  &hml RCTRL SEMI  &trans
&mo 5       &kp Z         &kp X              &kp C            &kp V            &kp B    &kp N  &kp M             &kp COMMA         &kp DOT             &kp SLASH        &trans
&kp LGUI         &kp ENTER        &mo 1    &to 2  &kp SPACE         &kp BSPC
>;
};

```
    /****************************************
     * 2 NAV LAYER — Typing Only
     ****************************************/

    nav {
        bindings = <
```

&trans  &trans          &trans     &trans        &kp RA(TAB)   &trans    &trans   &trans    &trans         &trans       &trans     &trans
&trans  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_GUI  &trans    &trans   &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans
&trans  &ppt_shapes     &trans     &trans        &trans        &trans    &kp INS  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans
&trans        &trans        &to 0     &trans   &trans    &trans
>;
};

```
    /****************************************
     * 3️⃣ NUM LAYER — Numbers / Symbols
     ****************************************/

    num {
        bindings = <
```

&kp TAB     &hml (LESS_THAN) LS(N9)  &hml (GREATER_THAN) LS(N0)  &hml LS(N1) LEFT_BRACKET  &kp N9        &kp RIGHT_BRACKET    &none  &kp N7     &kp N8  &kp N9  &none  &to 0
&kp LCTRL   &kp EQUAL                &kp PLUS                    &kp MINUS                 &kp ASTERISK  &kp EQUAL            &none  &kp N4     &kp N5  &kp N6  &none  &none
&kp LSHIFT  &kp GRAVE                &kp SLASH                   &kp BACKSLASH             &kp UNDER     &kp SLASH            &none  &kp N1     &kp N2  &kp N3  &none  &none
&kp PERIOD                &kp ENTER     &kp MINUS            &to 0  &kp SPACE  &trans
>;
};

```
    /****************************************
     * 4️⃣ FUN LAYER — F-keys
     ****************************************/

    fun {
        bindings = <
```

&trans  &kp F12  &kp F7  &kp F8    &kp F9    &kp PRINTSCREEN    &trans  &trans      &trans     &trans    &trans  &trans
&trans  &kp F11  &kp F4  &kp F5    &kp F6    &kp SCROLLLOCK     &trans  &kp LSHIFT  &kp LCTRL  &kp LALT  &trans  &trans
&trans  &kp F10  &kp F1  &kp F2    &kp F3    &kp PAUSE_BREAK    &trans  &trans      &trans     &trans    &trans  &trans
&kp LALT  &kp LGUI  &kp SPACE          &trans  &trans      &trans
>;
};

```
    /****************************************
     * 5️⃣ MOUSE LAYER — Cursor / Click
     ****************************************/

    mouse {
        bindings = <
```

&trans  &trans  &trans    &trans     &trans      &trans    &kp LC(Y)  &kp LC(V)       &kp LC(C)       &kp LC(X)     &kp LC(Z)        &trans
&trans  &trans  &kp LALT  &kp LCTRL  &kp LSHIFT  &trans    &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans
&trans  &trans  &trans    &trans     &trans      &trans    &trans     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans
&trans     &trans      &trans    &mkp LCLK  &mkp MCLK       &mkp RCLK
>;
};

```
    /****************************************
     * 6️⃣ MEDIA / BT LAYER — Device / Media Control
     ****************************************/

    media {
        bindings = <
```

&soft_off  &bootloader  &trans        &trans     &trans          &trans    &out OUT_BLE    &out OUT_USB  &out OUT_TOG       &kp K_PLAY_PAUSE  &kp K_MUTE     &trans
&trans     &trans       &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &trans    &bt BT_CLR_ALL  &kp K_PREV    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &kp K_FORWARD  &kp LC(LA(DEL))
&trans     &trans       &trans        &trans     &trans          &trans    &bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1       &bt BT_SEL 2      &bt BT_SEL 3   &bt BT_SEL 4
&trans     &trans          &trans    &trans          &kp C_PLAY    &trans
>;
};

```
};
```

};